<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bundle.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>{{ title }}</title>

  {% if description %}
    <meta name="description" content="{{ description }}">
  {% endif %}

  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}">
  {% endif %}
</head>
<body>
  {% if page.url == '/' %}
    {{ content |  safe }}
  {% else %}
    <div class="page">
      <header class="header">

      </header>
      <main class="page__content">
        {{ content |  safe }}
      </main>
      <footer class="footer">
        Footer
      </footer>
    </div>
  {% endif %}
  <script src="/scripts/common.js"></script>
</body>
</html>
