---
layout: default.liquid
---

<main class="post-page">
  <article class="post-page__inner">
    <header class="post-page__header">
      <time class="date post-page__date" pubdate datetime="{{ date | dateISO }}">
        {{ date | dateFormatted }}
      </time>
      <h1>{{ title }}</h1>
    </header>
    <p class="post-page__desc">{{ description }}</p>
    {{ content | safe }}

    <ul class="post-pagination post-page__pagination">
      {%- assign nextPost = collections.post | getNextCollectionItem: page %}
      {%- if nextPost %}
        <li class="post-pagination__item">
          <a href="{{ nextPost.url | url }}">&larr;&nbsp;{{ nextPost.data.title }}</a>
        </li>
      {% endif %}
      {%- assign previousPost = collections.post | getPreviousCollectionItem: page %}
      {%- if previousPost %}
        <li class="post-pagination__item">
          <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}&nbsp;&rarr;</a>
        </li>
      {% endif %}
    </ul>

    <footer class="post-footer post-page__footer">
      <img class="post-footer__avatar" src="/images/avatar.jpg" alt="Моя фотография">
      <div class="post-footer__desc">
        <div>Меня зовут Максим Павлов. Я senior frontend engineer.</div>
        <div>Пишу про разработку.</div>
      </div>
      <a class="post-footer__show-more" href="/">Подробнее</a>
    </footer>
  </article>
</main>
