---
layout: default.liquid
---

<main class="post-page">
  <article class="post-page__inner">
    <header class="post-page__header">
      <time class="date post-page__date" pubdate datetime="{{ date | dateISO }}">
        {{ date | dateFormatted }}
      </time>
      <h1>{{ title }}</h1>
    </header>
    <p class="post-page__desc">{{ desc }}</p>
    {{ content | safe }}

    <ul>
      {%- assign nextPost = collections.post | getNextCollectionItem: page %}
      {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
      {%- assign previousPost = collections.post | getPreviousCollectionItem: page %}
      {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
    </ul>

    <footer class="post-footer post-page__footer">
      <img class="post-footer__avatar" src="/images/avatar.jpg" alt="Моя фотография">
      <div class="post-footer__name">Максим Павлов</div>
      <div>senior frontend engineer</div>
      <div class="post-footer__desc">
        <div>Я занимаюсь промышленной web-разработкой&nbsp;около&nbsp;6&nbsp;лет.</div>
        <div>3 года назад я сосредоточился исключительно на&nbsp;разработке&nbsp;интерфейсов.</div>
        <div>Пишу на <strong>React</strong> и <strong>Angular</strong>.</div>
      </div>
      <a class="button post-footer__show-more" href="/">Подробнее</a>
    </footer>
  </article>
</main>
