---
layout: default.liquid
---

<div class="post-page">
  <div class="post-page__top">
    <a href="{{ page.url | split: '/' | slice: 0, 2 | concat: '' |  join: '/' }}">&larr; Вернуться назад</a>
  </div>
  {% if years %}
    <div class="post-page__years">
      <ul class="post-years">
        {% for item in years %}
          <li class="post-years__item">
            {% if page.url == item.link %}
              {{ item.date | date_month_year | capitalize }}
            {% else %}
              <a href="{{ item.link }}">{{ item.date | date_month_year | capitalize }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {{ content | safe }}
</div>
<footer class="post-page-footer full-width-block">
  <div class="post-page-footer__inner">
    <div class="post-page-footer__avatar" aria-hidden="true">
      <div class="photo"></div>
    </div>
    <div class="post-page-footer__name">
      {% include 'name.liquid' %}
    </div>
    <div class="post-page-footer__description">
      Привет! Я — senior frontend engineer с 8,5 годами опыта. Разрабатываю интерфейсы в <a href="https://mts.ru" target="_blank">МТС</a> и свои
      проекты.  В свободное время я люблю <a href="/travels/">путешествовать</a>, изучаю иврит и английский, интересуюсь историей и гражданской авиацией.
    </div>
    <div class="post-page-footer__more">
      <a class="button button_color_primary button_with-shadow" href="/about/">
        <span class="button__inner">Подробнее</span>
      </a>
    </div>
  </div>
</footer>
